<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
 <link rel="stylesheet" href="template1.css">
 <script src="https://kit.fontawesome.com/yourcode.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="p-10">
 <div class="grid grid-cols-2 gap-10 ">
  <div class="p-5 border rounded-xl shadow-lg hover:shadow-2xl">
   <a href="template2.html">
   <img class="w-full h-full" src="temp1.png">
   </a>
  </div>
  <div  class="p-2 border rounded-xl shadow-lg hover:shadow-2xl">
   <a href="template1.html">
   <img src="temp2.png" class="w-full h-full" >
   </a>
  </div>
</div>
<%= link_to "Template", user_template_path(:id=>1,:user_id=> @user) %>
